

.navbarimg{
    height: 40px;
    width: auto;    
    margin-top: 0px;
    margin-bottom: 0px;
}
.iconcart{
    color: aliceblue;
    margin-left: 60px;
    margin-right:60px;
}
.iconbell{
    color: aliceblue;
    margin-left: 60px;
  
}

.searchbar{
height: 25px;
}

.linktxt{
    color: aliceblue;

}


.wordspadding{

    padding-right: 30px;
    
}