.edititemspagedownpart{
    
    border: 1px solid black;
    margin-top: 30px;
    
    
    
}

.edititemspagedownpartA{
    border: 1px solid black;
    margin-top: 40px;
}

.makann{
    border: 1px solid black;
}