.footermain{
    background-color: #4D1003; 
    color: aliceblue; 
    justify-content: center;
    text-align: center;
}

.footerLinkCol{
    margin-top: auto;
    margin-bottom: auto;

}
.footerContactCol{
    margin-top: auto;
    margin-bottom: auto;

}


